h2, h3 {
    text-align: center;
}

.container-list {
    box-sizing: border-box;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    width: 300px;
    height: fit-content;
    margin-left: 42.3%;
    box-shadow:5px 5px 5px black;
}

li {
    font-size: larger;
    font-weight: bold;
    padding: 10px;

}