@font-face {
    font-family: titleFont;
    src: url(./fonts/Staatliches-Regular.ttf);
}

@font-face {
    font-family: optionsFont;
    src: url(./fonts/Ubuntu-Medium.ttf);
}

#menuBG {
    width: 700px;
    height: 700px;
    margin: 10px auto;
    background-color: chartreuse;
    border: 1px solid black;
    border-radius: 6px;
}

#frmMenu {
    margin: 2px;
    position: relative;
    padding-left: 60px;
    width: 620px;
    height: 200px;
}

#totalPrice {
    width: 200px;
    height: 190px;
    padding-top: 18px;
    margin: 0px auto;
    float: right;
    font-family: optionsFont;
}

.left {
    padding-left: 20px;
    padding-right: 0;
    width: 200px;
    height: 200px;
    float: left;
    font-family: optionsFont;
}

.center {
    width: 200px;
    height: 200px;
    font-family: optionsFont;
    float: left;
}

.right {
    width: 200px;
    height: 200px;
    float: right;
    font-family: optionsFont;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}

#cart {
    top: 0;
    margin: 0px auto;
    width: 500px;
    height: 300px;
}

#btnOrder {
    margin: 10px 0px 0px 310px;
    width: 100px;
    height: 40px;
    background-color: black;
    color: white;
}

body {
    background-image: url(./images/unvierse.png);
}

h1 {
    margin: 0 0px 0 220px;
    color: rgb(29, 28, 28);
    font-family: titleFont;
    text-shadow: 2px 1px white;
}

h3 {
    font-family: titleFont;
    text-shadow: 2px 1px white;
}
